* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Making color constant */
:root {
    --nav-bg: rgba(51, 51, 51, 0.6);
    --white: #fff;
    --black: #000;
    --downalod_btn: #eca800;
    --news_card_details_heading_Text: #f05f5d;
    --map_heading_text: #0f1923;
}

body {
    width: 100vw;
    height: fit-content;
    font-family: 'Teko', 'Oswald', sans-serif;
    color: #2a4e72;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
}


nav {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#hero {
    width: 100vw;
    height: 50rem;
}

#content {
    width: 100%;
    height: fit-content;
    background: #a65b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Initially hide the content */
}

footer {
    width: 100%;
    height: fit-content;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0;
    transition: all 0.3s ease;
}

nav,
#hero,
#content,
footer {
    display: none;
}
