@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 500vw;
    font-family: 'Teko', 'Oswald', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#mainparent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



/* Here All styles for navbar */
navbar {
    width: 100vw;
    height: 100px;
    width: 100%;
    background-color: black;
    z-index: 1000;
    transition: 0.5s;
    z-index: 998;
}


/* mouse cursor follow */

#mouseFollow {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #eca800;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}

/* Here All styles for navbar */

.navbar_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    gap: 60px;
}

.logo {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: fit-content;
    height: fit-content;
}

.menu {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #eca800;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 1.8rem;
    opacity: 0;
}

.downloads_container {
    gap: 1px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.download_nav_links {
    font-size: 2rem;
    text-decoration: none;
    width: fit-content;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
    background: #d49700;
    color: black;
}

.card_nav_link {
    font-size: 2rem;
    padding: 0 40px 0 40px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*  Hero section  */

Hero {
    width: 100vw;
    height: 90vh;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.battleground-outline-hero {
    position: absolute;
    bottom: unset;
    left: 0;
    width: 100vw;
    height: fit-content;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.main-logo-krafton {
    width: fit-content;
    height: fit-content;
    position: absolute;
    mix-blend-mode: screen;
    bottom: 0;
    right: 0;
}

.hero_container {
    width: fit-content;
    height: fit-content;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.Hero_text {
    user-select: none;
    line-height: 1;
    font-size: 7rem;
}


/* content section here */

content {
    width: 100%;
    height: 300vh;
    background: transparent;
}

/* within content india_ki_heartbeat section here */

.india_ki_heartbeat {
    margin-top: 50px;
    font-size: 2rem;
    width: 100%;
    height: fit-content;
    background: #1b1b1b;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.india_ki_heartbeat_heading {
    width: 100%;
    height: fit-content;
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.india_ki_heartbeat_video_container {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}


#battlegroundTextOutline {
    width: fit-content;
    height: 100%;
}

/* News container section is here */
.news_container_heading {
    width: 100%;
    height: fit-content;
    background: #1b1b1b;
    font-size: 3rem;
    color: white;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.news_container {
    width: 100%;
    height: 100vh;
    background: #24272a;
    box-sizing: border-box;
    padding: 2rem 7rem 7rem 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.news_heading {
    width: fit-content;
    line-height: 1;
    color: white;
    font-size: 4rem;
}

.updates_container {
    width: 60%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.update_container_hero_card {
    width: 100%;
    height: 50%;
    background: transparent;
    padding: 3rem 3rem 1rem 3rem;
    box-sizing: border-box;
}

.update_container_hero_card img {
    border: 0.5px solid white;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.update_container_subHero_card {
    width: 100%;
    height: 50%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subhero {
    width: 50%;
    height: 100%;
    background: transparent;
}

.subhero_1 {
    padding: 3rem 2rem 0rem 3rem;
}

.subhero_2 {
    padding: 3rem 3rem 0rem 2rem;
}

.subhero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.5px solid white;
}


.devided_line {
    margin: 5px 0 5px 0;
}

/* news container */
.update_container_news_section {
    width: 40%;
    height: 100%;
    background: transparent;
    padding: 3rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.news_heading {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}

.news_container_heroCard_caontainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.news_container_heroCard {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 1px solid #a1a1a1;
}

.hero_card_Heading {
    color: white;
    font-weight: 100;
}

.news_list_container {
    width: 100%;
    height: fit-content;
    background: transparent;
}

.news_list_container1 {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.news_list_container1_card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news_list_container1_card img {
    width: 200px;
    border: 1px solid #a1a1a1;
}

.hero_card_subHeading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-family: monospace, sans-serif;

}

.hero_card_subHeading h1 {
    font-size: 1rem;
    color: white;
    font-weight: 100;
    line-height: 1.2;
}

.hero_card_subHeading p {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    font-weight: 100;
    line-height: 1;
}

.hero_card_subHeading a {
    padding: 3px 16px 3px 16px;
    background: #eca800;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-family: monospace, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.news_list_btn_link {
    width: 100%;
    height: fit-content;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 1rem;
}

.get_more_news_btn {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    border: 1px solid white;
    font-family: 'Teko', 'Oswald', sans-serif;
}

/* slider section is here */
.slider_container{
    width: 100vw;
    height: 100vh;
}

